body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #e0f7fa, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header-title {
    background: linear-gradient(to right, #007bff, #00bcd4);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title h1 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
}

.progress-circle {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 20px auto;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #000;
    z-index: 1;
}

svg {
    transform: rotate(-90deg);
}

.circle-background {
    fill: none;
    stroke: #ddd;
    stroke-width: 10;
}

.circle-progress {
    fill: none;
    stroke: #4caf50;
    stroke-width: 10;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s;
}

.loading-text {
    font-size: 30px;
    color: red;
    margin-top: 20px;
    font-weight: bold;
    position: relative;
}

.info {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info h2 {
    color: #007bff;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #666;
}

/* 去除链接和邮箱的下划线 */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* 响应式布局 */
@media (max-width: 768px) {
    .header-title {
        flex-direction: column;
    }
}

.cta-button-container {
    margin-top: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* 悬停效果 */
.cta-button:hover {
    background-color: #00bcd4;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 点击效果 */
.cta-button:active {
    background-color: #0288d1;
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
